.how-we-work {
  background: linear-gradient(117.29deg, #FBA8A8 -8.95%, rgba(189, 212, 231, 0) 99.59%, #DB9EA2 99.59%), #BDD4E7;
  margin-top: 100px;
  padding-top: 150px;
  max-width: 100%;
}

.how-we-work-subtitle {
  font: 1.2rem/139% 'Montserrat', serif;
  max-width: 800px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 100px;
}

.how-we-work-title {
  font: 2.6rem/50% 'Montserrat', serif;
  text-align: center;
  letter-spacing: -0.015em;
  color: white;
  margin-bottom: 20px;
}
.hww{
  margin-bottom: 20px;
}

.hww:last-child{
  margin-bottom: 0;
}


.hww h1 {
  font: 1.5rem/150% 'Montserrat', sans-serif;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  margin: 20px 0;
  border-bottom: 1px dotted white ;
}

.hww p {
  margin: 40px 0;
  font: 0.9rem/167% 'Montserrat', sans-serif;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

.custom-shape-divider-bottom-1610909121 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610909121 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1610909121 .shape-fill {
  fill: #FFFFFF;
}

@media(max-width:500px){
  .how-we-work{
    padding-top: 100px;
  }
  .hww p{
    text-align: justify;
  }
  .how-we-work-title{
    font-size: 2.09rem;
  }
  .how-we-work-subtitle{
    font-size: 1.1rem;
    margin-bottom: 50px;
  }
  .hww, .hww-img{
    min-width: 80vw;
  }
}
