.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding-top: 12vh;
  background: linear-gradient(117.29deg, #FBA8A8 -8.95%, rgba(189, 212, 231, 0) 99.59%, #DB9EA2 99.59%), #BDD4E7;
  background-blend-mode: multiply, normal;
}

.hero-itens{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero-itens h1 {
  max-width: 600px;
  font: bold 3rem/127% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.2px;
  color: #F2F2F2;
}

.hero-itens p {
  margin-top: 32px;
  font: 18px/122% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.3px;
  color: #F2F2F2;
}

.buttons {
  z-index: 9;
  margin: 56px 0 10px;
  display: flex;
  width: 17rem;
  justify-content: space-between;
}

.img-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 35vh;
  width: 100%;
  background-image: url('./img/hero.png');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 10%;

}


@media(max-width:1400px) {
  .buttons {
    margin: 35px 0 31px;
  }
}

@media(max-height:400px){
    .img-hero{
      min-height: 45vh;
    }
    .buttons{
      margin-top: 10px;
    }
}

@media(max-width:1176px) {
  .img-hero {
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 10%;
  }
}

@media(max-width:992px) {
  .hero-itens h1{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.3rem;
  }
}
@media(max-width:500px) {
  .hero-itens h1{
    font-size: 2rem;
  }

  .hero-itens p{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #BDD4E7;
  }

  100% {
    background: #FBA8A8;
  }
}

@keyframes color-change-2x {
  0% {
    background: #BDD4E7;
  }

  100% {
    background: #FBA8A8;
  }
}
