.navbar{
  z-index: 9;
}
.navbar-collapse{
  justify-content: flex-end;
}

.contato{
  margin-left: 1rem;
  width: 5rem;
  text-align: center;
  color: white!important;
}

.secondary{
  color: rgba(0, 0, 0, .9)!important;
}

