*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html{
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
a:hover{
  opacity: 1;
}
