*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden!important;
}

@media(max-width:458.98px){
  body{
    overflow-x: hidden!important;
  }
}

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
a:hover{
  opacity: 1;
}
