.howto {
  padding-top: 50px;
  font-family: 'Mulish', sans-serif;
}

.howto h1,
.howto h5 {
  text-align: center;
}

.howto h5 {
  font: 0.9rem/137% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.3px;
  color: #737B7D;
  margin-bottom: 35px;
}

.howto h1, .contact-us h1 {
  font: bold 1.75rem/125% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.1px;
}

.h-t img{
  margin: 50px 0 15px;
}

h1.howto-h1 {
  font: bold 18px/133% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.1px;
  color: #373F41;
}

p.howto-p , .contact-us p{
  font: 0.75rem/143% 'Mulish', sans-serif;
  text-align: center;
  letter-spacing: 0.2px;
  color: #373F41;
  opacity: 0.8;
}

a.howto-p {
  text-align: center;
  font-size: .75rem;
  letter-spacing: 0.03rem;
}
.h-t{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 170px;
}

@media(max-width:500px){
  .howto .row .col{
    min-width: 80%;
  }
}

@media (max-width: 767px) {
   .h-t{
    text-align: justify;
    height: 250px;
  }
}
